<h1>My Lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= cl_image_tag("v1653042811/opq3aikpkny4szldqmux", width: 150, height: 150, crop: :thumb) %></li>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
<hr>
<h3><%= link_to "Add a new list", new_list_path %></h3>
